{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "import/extensions": [ "error", "always", { "ignorePackages": true } ],
    "react/prop-types": "off",
	"react/destructuring-assignment":[<enabled>, "always", {"ignoreClassFields": <boolean>}]
  }
}